<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{titleText}}</title>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>
    {{> header}}
    {{> error-message}}
    <main>
        {{{body}}}
    </main>
    {{> footer}}
</body>

</html>