<div class="py-5">
  <div class="container">
    <img
      style="display: block; margin: 0 auto; max-width: 800px;"
      src="https://wpdaddy.com/wp-content/uploads/2017/04/Best-Coming-Soon-and-404-Error-Page-Templates-for-Your-Unique-Websites.jpg"
    />
    <h1 style="width: 100%; text-align: center; font-weight: bold;">404</h1>
    <h2 style="width: 100%; text-align: center; text-decoration: underline;">
      NOT FOUND
    </h2>
  </div>
</div>
